:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(-50deg, #80CEFF, #FFBDD7, #E61D39);
	--vp-home-hero-image-filter: blur(75px);
	--vp-home-hero-image-background-image: linear-gradient(136deg, #80CEFF 0, #80CEFF 40%, #FFBDD7 40%, #FFBDD7 60%, #E61D39 60%, #E61D39 100%);
	--blur: 80px;
}

.image-bg{
	animation: filter_blur 1.8s ease-in infinite alternate-reverse;
	filter: blur(var(--blur));
}

@keyframes filter_blur {
	0% {
		--blur: 30px;
	}
	100% {
		--blur: 80px;
	}
}
